/* body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a.nav-link {
  font-size: x-large;
}

img {
  width: 150px;
} */

.theme-text {
  font-style: italic;
  font-family: auto;
  font-size: large;
  color: rgb(86,152,207);
}

.image-list {
  display: inline-table; 
}

.nft-image{
  width: 150px;
  margin: 35px;
}

#nft-stats {
  display: none;
}

/* .banner-image {
  width: 40px;
}

.content {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
}

.highlight-container {
  color: red;
}

.highlight-container:hover {
  color: blue;
}
*/

