.theme-text {
  font-style: italic;
  font-family: auto;
  font-size: large;
  color: darkmagenta;
}
/* .banner-image {
  width: 40px;
}

.content {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
}

.highlight-container {
  color: red;
}

.highlight-container:hover {
  color: blue;
}

.nft-image{
  width: 150px;
  margin: 35px;
} */